<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        
        <!-- hibernate properties  -->
        <property name="hbm2ddl.auto">update</property>
        
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <property name="show_sql">true</property>
        
        <property name="format_sql">true</property>
        
        <!-- connection properties   -->
        <property name="connection.driver_class">
                  com.mysql.cj.jdbc.Driver
        </property>
        
        <property name="connection.url">
                  jdbc:mysql://localhost:3306/employee_management
        </property>
        
        <property name="connection.username">employee_service</property>
        
        <property name="connection.password">Test@123</property>
        
        <!-- mapping files  -->
        <mapping resource="/resources/Employee.hbm.xml"/>
        
        <mapping resource="/resources/Address.hbm.xml"/>
        
        <mapping resource="/resources/Project.hbm.xml"/>
        
    </session-factory>

</hibernate-configuration>
        
